<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 네임스페이스(사용영역) 설정 -->

<mapper namespace="com.ybm.hotdog.mappers.InfoBoardMapper">

<!-- 게시물 전체 목록 불러오기 -->
<select id="boardInfoListAll" resultType="Article">
	SELECT article_no, board_no, user_no, category_no, title, content, reg_date, hit_count, "group", step, "order" 
	FROM Article
	ORDER BY article_no desc, reg_date desc
</select>
	
</mapper>