<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 네임스페이스(사용영역) 설정 -->

<mapper namespace="com.ybm.hotdog.mappers.InfoBoardMapper">
	<!-- 게시물 전체 목록 불러오기 -->
	<select resultType="Article" id="boardInfoListAll">
		SELECT article_no as articleNo,
		board_no as boardNo, user_no as userNo,
		category_no as categoryNo,
		title, content, reg_date as regDate,
		hit_count as hitCount, "group",
		step, "order" FROM Article WHERE
		board_no = 1 ORDER BY "group" desc,
		"order" asc
	</select>

	<!-- 게시물 상세 조회 -->
	<select resultType="Article" id="articleDetail">
		SELECT article_no as articleNo,
		board_no as boardNo, user_no as userNo,
		category_no as categoryNo,
		title, content, reg_date as regDate,
		hit_count as hitCount, "group",
		step, "order" FROM Article WHERE
		article_no = #{articleNo}
	</select>

	<!-- 게시글 작성 -->
	<insert id="articleRegister">
		INSERT INTO Article(article_no, board_no, user_no,
		category_no, title,
		content, reg_date, hit_count, "group", step,
		"order") VALUES
		(seq_Article.nextVal, 1, 2, #{categoryNo}, #{title},
		#{content},
		sysdate, 0,seq_Article.nextVal, #{step}, #{order})
	</insert>

	<!-- 답글 작성 -->
	<insert id="reArticleRegister">
		INSERT INTO Article(article_no, board_no, user_no,
		category_no, title,
		content, reg_date, hit_count, "group", step,
		"order") VALUES
		(seq_Article.nextVal, 1, 2, #{categoryNo}, #{title},
		#{content},
		sysdate, 0,#{group}, #{step}, #{order})
	</insert>

	<!-- 답글 카운트 -->
	<select resultType="int" id="countReArticle">
		SELECT count(step)
		FROM Article
		WHERE
		board_no=1 and step > 0
	</select>

	<!-- 게시판별 답글 카운트 -->
	<select resultType="int" id="countPerReArticle">
		SELECT count(step)
		FROM Article
		WHERE
		article_no = #{article_no} and step > 0
	</select>

	<!-- order 증가 -->
	<update id="reOrder">
		update Article
		set "order" = "order" + 1
		where "group"
		= #{group} and
		"order" >= #{order}
	</update>

	<!-- 게시글 삭제 -->
	<update id="articleDelete">
		UPDATE Article SET title ='삭제된 게시물입니다.' WHERE
		article_no = #{articleNo}
	</update>

	<!-- 게시글 수정 -->
	<update id="articleEdit">
		UPDATE Article SET category_no = #{categoryNo},
		title
		= #{title}, content =
		#{content}, hit_count=
		#{hitCount}, "group" =
		#{group} WHERE
		article_no = #{articleNo}
	</update>

	<!--게시글 갯수 구하기 -->
	<select resultType="int" id="countArticle">
		SELECT count(article_no) FROM
		article
		WHERE board_no = 1
	</select>

	<!-- 키워드로 게시글 조회 페이징 -->
	<select resultType="Article" id="pageSearch">
		SELECT AAA.*
		FROM (SELECT Count(*) OVER() AS TOTAL_COUNT, AA.*
		FROM
		(SELECT Row_number() OVER (ORDER BY "group" DESC, "order" ASC) RNUM,
		article_no AS articleNo,
		board_no AS boardNo,
		article.user_no AS userNo,
		category_no AS categoryNo,
		title,
		content,
		reg_date AS regDate,
		hit_count
		AS hitCount,
		"group",
		step,
		"order"
		FROM article,
		users
		WHERE board_no = 1
		AND (article.user_no = users.user_no)
		<include refid="search"></include>
		WHERE AAA.rnum BETWEEN #{start,jdbcType=INTEGER} AND
		#{end,jdbcType=INTEGER}
	</select>

	<!-- 키워드로 게시글 조회 -->
	<select resultType="Article" id="articleSearch">
		SELECT article.article_no as articleNo, article.board_no as boardNo,
		article.user_no as userNo, article.category_no as categoryNo, title,
		content, article.reg_date as regDate, hit_count as hitCount, "group",
		step, "order", Users.name FROM article inner join Users on
		article.user_no = Users.user_no
		<include refid="searchArticle" />
	</select>
	
	<!-- 키워드로 게시글 갯수 -->
	<select resultType="int" id="articleSearchNum">
		SELECT count(article_no)
		FROM article, Users
		<include refid="searchArticle" />
	</select>

	<sql id="searchArticle">
		<choose>
			<when test="searchOption == '제목'">
				where board_no = 1 And article.user_no = Users.user_no and title like '%'||#{keyword}||'%'
			</when>

			<when test="searchOption == '작성자'">
				where board_no = 1 And article.user_no = Users.user_no and name like '%'||#{keyword}||'%'
			</when>

			<when test="searchOption == '내용'">
				where board_no = 1 And article.user_no = Users.user_no and content like '%'||#{keyword}||'%'
			</when>
		</choose>
	</sql>
	
	<sql id="search">
		<choose>
			<when test="searchOption == 'list'">
				) AA) AAA
			</when>
			<when test="searchOption == '제목'">
				and title like '%'||#{keyword}||'%' ) AA) AAA
			</when>

			<when test="searchOption == '작성자'">
				and name like '%'||#{keyword}||'%') AA) AAA
			</when>

			<when test="searchOption == '내용'">
				and content like '%'||#{keyword}||'%') AA) AAA
			</when>

		</choose>
	</sql>
	<!--댓글 갯수 구하기 -->
	<select resultType="int" id="countReply">
		SELECT count(reply_no) FROM Reply
		WHERE article_no = #{articleNo}
	</select>

	<!--댓글 쓰기 -->
	<insert id="replyRegister">
		INSERT INTO Reply(reply_no, article_no, user_no,
		content, reg_date) VALUES
		(seq_Reply.nextval, #{articleNo},
		#{userNo},
		#{content}, sysdate)
	</insert>

	<!--댓글 리스트 -->


	<select resultType="Reply" id="replyListAll">
		SELECT reply_no as replyNo,
		article_no as articleNo, user_no as userNo,
		content, reg_date as
		regDate FROM Reply WHERE article_no = #{articleNo}
	</select>

</mapper>