<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 네임스페이스(사용영역) 설정 -->

<mapper namespace="com.ybm.hotdog.mappers.MatingBoardMapper">

<!-- 게시물 전체 목록 불러오기 -->
<select id="boardMatingListAll" resultType="Article">
	SELECT 	article_no as articleNo, board_no as boardNo, user_no as userNo, 
			category_no as categoryNo, title, content, reg_date as regDate, hit_count as hitCount,
			"group", step, "order" 
	FROM Article
	WHERE board_no = 3
	ORDER BY article_no desc, reg_date desc
</select>

<!-- 게시글 상세 조회 -->
<select id="articleDetail" resultType="Article">
	SELECT 	article_no as articleNo, board_no as boardNo, user_no as userNo, 
			category_no as categoryNo, title, content, reg_date as regDate, hit_count as hitCount,
			"group", step, "order" 
	FROM Article
	WHERE article_no = #{articleNo}
</select>

<!-- 게시글 작성 -->
<insert id="registMating">
	INSERT INTO Article(article_no, board_no, user_no, category_no, title, content, reg_date, hit_count, "group", step, "order") 
	VALUES (seq_Article.nextVal, 3, 1, #{categoryNo}, #{title}, #{content}, sysdate, 0, 1, 1, 1)
</insert>

<!-- 게시글 삭제 -->
<delete id="deleteMating">
	DELETE FROM Article 
	WHERE article_no = #{articleNo}
</delete>

<!-- 게시글 수정 -->
<update id="updateMating">
	UPDATE Article SET category_no = #{categoryNo}, title = #{title}, content = #{content}, reg_date = sysdate
	WHERE article_no = #{articleNo}
</update>

<!-- 조회수 증가 -->
<update id="updateHitcount">
	UPDATE Article SET hit_count = (hit_count + 1)
	WHERE article_no = #{articleNo}
</update>

</mapper>