<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 네임스페이스(사용영역) 설정 -->

<mapper namespace="com.ybm.hotdog.mappers.MatingBoardMapper">

<!-- 게시글 -->

<!-- 게시물 전체 목록 불러오기 -->
<select id="boardMatingListAll" resultType="Article">
	SELECT 	article_no as articleNo, board_no as boardNo, user_no as userNo, 
			category_no as categoryNo, title, content, reg_date as regDate, hit_count as hitCount,
			"group", step, "order" 
	FROM Article
	WHERE board_no = 3
	ORDER BY "group" desc, "order" asc
</select>

<!-- 게시글 상세 조회 -->
<select id="articleDetail" resultType="Article">
	SELECT 	article_no as articleNo, board_no as boardNo, user_no as userNo, 
			category_no as categoryNo, title, content, reg_date as regDate, hit_count as hitCount,
			"group", step, "order" 
	FROM Article
	WHERE article_no = #{articleNo}
</select>

<!-- 게시글 작성 -->
<insert id="registMating">
	INSERT INTO Article(article_no, board_no, user_no, category_no, title, content, reg_date, hit_count, "group", step, "order") 
	VALUES (seq_Article.nextVal, 3, 1, #{categoryNo}, #{title}, #{content}, sysdate, 0, seq_Article.currVal, 0, 0)
</insert>

<!-- 답글 작성 -->
<insert id="registMatingRearticle">
	INSERT INTO Article(article_no, board_no, user_no, category_no, title, content, reg_date, hit_count, "group", step, "order") 
	VALUES (seq_Article.nextVal, 3, 1, #{categoryNo}, #{title}, #{content}, sysdate, 0, #{group}, #{step} + 1, #{order} + 1)
</insert>

<!-- 답글 계층 및 순서 수정 -->
<update id="updateMatingRearticle">
<![CDATA[
	UPDATE Article 
	SET "order" = "order"+1 
	WHERE "group" = #{group} AND "order" > #{order}
]]>
</update>

<!-- 게시글 삭제 -->
<update id="deleteMating">
	UPDATE Article SET title = '삭제된 게시물입니다.', content = 'ㅩ'
	WHERE article_no = #{articleNo}
</update>

<!-- 게시글 수정 -->
<update id="updateMating">
	UPDATE Article SET category_no = #{categoryNo}, title = #{title}, content = #{content}, reg_date = sysdate
	WHERE article_no = #{articleNo}
</update>

<!-- 조회수 증가 -->
<update id="updateHitcount">
	UPDATE Article SET hit_count = (hit_count + 1)
	WHERE article_no = #{articleNo}
</update>

<!-- 전체 게시글 수 조회 -->
<select id="getArticleNumber" resultType="Integer">
	SELECT COUNT(*)
	FROM Article
	WHERE board_no = 3
</select>

<!-- 게시글 검색 -->
<select id="searchMating" resultType="Article">
			SELECT AAA.* 
			FROM   (SELECT Count(*) OVER() AS TOTAL_COUNT, AA.* 
			        FROM   (SELECT Row_number() OVER (ORDER BY "group" DESC, step ASC) RNUM, 
			                       article_no                           AS articleNo, 
			                       board_no                             AS boardNo, 
			                       article.user_no                      AS userNo, 
			                       category_no                          AS categoryNo, 
			                       title, 
			                       content, 
			                       reg_date                             AS regDate, 
			                       hit_count                            AS hitCount, 
			                       "group", 
			                       step, 
			                       "order" 
			                FROM   article, 
			                       users 
			                WHERE  board_no = 3 
			                       AND (article.user_no = users.user_no) 
	<include refid="search"></include>
			WHERE  AAA.rnum BETWEEN #{start,jdbcType=INTEGER} AND #{end,jdbcType=INTEGER} 
</select>

<sql id="search">
	<choose>
		<when  test="searchType=='list'">
			) AA) AAA
		</when>
		<when test="searchType=='author'">
			                       AND users.NAME LIKE '%'||#{keyword,jdbcType=VARCHAR}||'%') AA) AAA 
		</when>
		<otherwise>
			                       AND ${searchType} LIKE '%'||#{keyword,jdbcType=VARCHAR}||'%') AA) AAA 
		</otherwise>
	</choose>
</sql>

<!-- 게시글 검색 글 수 조회 -->
<select id="getSearchNumber" resultType="Integer">
	SELECT COUNT(article_no) 
	FROM Article, Users
	<include refid="search2" />
</select>

<sql id="search2">
	<choose>
		<when test="searchType=='author'">
			WHERE board_no = 3 
				  AND (Article.user_no = Users.user_no)
				  AND Users.name LIKE '%'||#{keyword}||'%'
		</when>
		<otherwise>
			WHERE board_no = 3 
				  AND (Article.user_no = Users.user_no)
				  AND ${searchType} LIKE '%'||#{keyword}||'%'
		</otherwise>
	</choose>
</sql>

<!-- 페이징 -->
<select id="pagination" resultType="Article">
	SELECT AAA.* 
	FROM  (SELECT Count(*) over() AS TOTAL_COUNT, AA.* 
	       FROM  (SELECT Row_number() over (ORDER BY "group" DESC, step ASC) RNUM, 
	                     article_no     AS articleNo, 
	                     board_no       AS boardNo, 
	                     user_no        AS userNo, 
	                     category_no    AS categoryNo, 
	                     title, 
	                     content, 
	                     reg_date       AS regDate, 
	                     hit_count      AS hitCount, 
	                     "group", 
	                     step, 
	                     "order" 
	              FROM   article 
	              WHERE  board_no = 3) AA) AAA 
	WHERE  AAA.rnum BETWEEN #{start} AND #{end}
</select>


<!-- 댓글 -->

<!-- 댓글 작성 -->
<insert id="registReply">
	INSERT INTO Reply(reply_no, article_no, user_no, content, reg_date) 
	VALUES (seq_Reply.nextVal, #{articleNo}, 1, #{content}, sysdate)
</insert>

<!-- 댓글 조회 -->
<select id="getReply" resultType="Reply">
	SELECT reply_no as replyNo, article_no as articleNo, user_no as userNo, content, reg_date as regDate 
	FROM Reply
	WHERE article_no = #{articleNo}
	ORDER BY reg_date asc
</select>

<!-- 댓글 수 조회 -->
<select id="getReplyNumber" resultType="Integer">
	SELECT COUNT(reply_no) 
	FROM Reply
	WHERE article_no = #{articleNo}
</select>
</mapper>