<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 네임스페이스(사용영역) 설정 -->

<mapper namespace="com.ybm.hotdog.mappers.UserMapper">

<!-- 회원 목록 조회 -->
<select id="userListAll" resultType="User">
	SELECT user_no as userNo, ID, password, name, phone, grade 
	FROM Users
</select>

<!-- 회원번호로 회원정보 조회-->
<select id="getUser" resultType="User">
	SELECT user_no as userNo, ID, password, name, phone, grade 
	FROM Users
	WHERE user_no=#{userNo}
</select>

<!-- 회원가입 -->
<insert id="register">
	INSERT INTO Users(user_no, ID, password, name, phone, grade) 
	VALUES (seq_Users.nextVal, #{id}, #{password}, #{name}, #{phone}, 1)
</insert>
	
</mapper>